/* Enter your custom styles here */

.sapMOH {
	padding: 0rem;
    padding-left: 45%;
    padding-top: 0.5rem;
}

.centered {
  margin-left: 45%;
  padding-bottom: 1rem;
}

.uploadColl {
	width: 99%;
}